{% macro ballot_details(ballot) -%}
  <p>
    Typ: {{ballot.type}} &nbsp;&nbsp; Vyhodnocení: {{ballot.method}}<br/>
    Termín: od {{ballot.begin_at|fmt_dt_range}} do {{ballot.finish_at|fmt_dt_range}}<br/>
    {% if ballot.candidate_self_signup %}
      Přihlašování kandidátů:
        {% if ballot.candidate_signup_from %}od {{ballot.candidate_signup_from|fmt_dt_range}}{% endif %}
        do {{ballot.candidate_signup_until|fmt_dt_range}}<br/>
    {% endif %}
    Počet hlasů: {{ballot.max_votes}} &nbsp;&nbsp; Počet možností: {{ballot.options|length}}<br/>
    {% if g.user.can_vote(ballot) or g.user.already_voted(ballot) %}Počet odevzdaných hlasů do včerejší půlnoci: {{ballot.count_voted}}<br/>{% endif %}
    Hlasovací právo: {{ballot.unit}} {% if ballot.supporters_too %} i příznivci{% endif %}{% if ballot.quorum  %}<br/>
    Kvórum: {{ballot.quorum}} hlas{% if ballot.quorum > 1  %}{% if ballot.quorum > 4  %}ů{% else %}y{% endif %}{% endif %}{% endif %}
  </p>
{%- endmacro %}

{% macro ballot_panel_template(ballot, hr=True, inactive=False) -%}
  <div class="panel panel-default{% if inactive %} panel-inactive{% endif %}">
    <div class="panel-heading">
      <h3 class="panel-title">{{ballot.name}}</h3>
    </div>
    <div class="panel-body">
      <p>{{ballot.description|safe}}</p>
      {{ ballot_details(ballot) }}
    {% if hr %}
    </div>
    <hr/>
    <div class="panel-body">
    {% endif %}
      {{caller()}}
    </div>
  </div>
{%- endmacro %}

{% macro ballot_panel(ballot) -%}
  {% call ballot_panel_template(ballot, False) %}
    <p>
      {% if ballot.cancelled %}
        Zrušeno.
      {% elif ballot.is_finished %}
        Ukončeno, {% if not g.user.already_voted(ballot) %}ne{% endif %}hlasoval/a jste. 
        <a href="{{url_for('polling_station_result', ballot_id=ballot.id)}}" class="btn btn-default"><i class="fa fa-list-ol"></i> Zobrazit výsledek</a>
        {% if ballot.approved_protocol %}
          <a href="{{url_for('protocol_item', protocol_id=ballot.approved_protocol.id)}}" class="btn btn-default"><i class="fa fa-file-text-o"></i> Volební protokol</a>
        {% endif %}
      {% elif not ballot.in_progress %}
        Nyní neprobíhá. <a href="{{url_for('polling_station_item', ballot_id=ballot.id)}}" class="btn btn-default">Volební místnost</a>
      {% elif g.user.already_voted(ballot) %}
        Již jste hlasoval/a. <a href="{{url_for('polling_station_item', ballot_id=ballot.id)}}" class="btn btn-default">Volební místnost</a> 
      {% elif g.user.can_vote(ballot) %}
        <a href="{{url_for('polling_station_item', ballot_id=ballot.id)}}" class="btn btn-primary"><i class="fa fa-check-circle-o"></i> Hlasovat</a>
      {% else %}
        Nemáte právo hlasovat.
      {% endif %}
    </p>
  {% endcall %}
{%- endmacro %}

{% macro ballot_option_details(option) -%}
  {% if option.user_id %}
    <div class="bo-profile clearfix" data-userid="{{option.user_id or ""}}"></div>
  {% else %}
    <div class="bo-profile-empty"></div>
  {% endif %}
{%- endmacro %}

{% macro tinymce(extended=False) -%}
  <script type="text/javascript" src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      tinymce.init({
        selector:'textarea',
        plugins: [
          "advlist autolink lists link charmap preview anchor",
          "visualblocks code table",
          "insertdatetime media contextmenu paste"
        ],
        {% if(extended) %}
        toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link"
        {% else %}
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link"
        {% endif %}
      });
    });
  </script>
{%- endmacro %}
