{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#add-pro-proti").click(function() {
      $($(".bo-new")[0]).val("PRO NÁVRH");
      $($(".bo-new")[1]).val("PROTI NÁVRHU");
    })
  });
</script>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Upravit možnosti nebo kandidáty</h3>
    <p><button id="add-pro-proti" class="btn btn-default btn-sm">Přidat PRO NÁVRH / PROTI NÁVRHU</button></p>
    <form method="POST">
      <ul>
        {% for option in ballot.options %}
          <li>
            <input class="form-control" type="text" maxlength="80" value="{{option.title}}" name="bo"/>
          </li>
        {% endfor %}
        {% for i in range(5) %}
          <li>
            <input class="form-control bo-new" type="text" maxlength="80" value="" name="bo" placeholder="Nová možnost"/>
          </li>
        {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Uložit</button>
    </form>
  </div>
</div>
{% endblock %}