{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Upravit možnosti nebo kandidáty</h3>
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <ul>
        {% for option in ballot.options %}
          <li>
            <input class="form-control" type="text" maxlength="80" value="{{option.title}}" name="bo"/>
          </li>
        {% endfor %}
        {% for i in range(5) %}
          <li>
            <input class="form-control bo-new" type="text" maxlength="80" value="" name="bo" placeholder="Nová možnost"/>
          </li>
        {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Uložit</button>
    </form>
  </div>
</div>
{% endblock %}