{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    {% if g.user.can_create_ballot %}
      <a href="{{url_for('ballot_new')}}" class="btn btn-primary">Nová volba</a>  
    {% endif %}
    <table class="table">
      <thead>
        <tr><th>ID</th><th>Název</th><th>Popis</th><th>Typ</th><th>Trvání</th><th>Stav</th></tr>
      </thead>
      <tbody>
        {% for ballot in ballots %}
          <tr>
            <td>{{ballot.id}}</td>
            <td>{{ballot.name}}</td>
            <td class="pre">{{ballot.description}}</td>
            <td>{{ballot.type}}</td>
            <td>{{ballot.begin_at}} až {{ballot.finish_at}}</td>
            <td>{{ballot.status}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}