<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,300italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" media="screen" href="//web.svobodni.cz/cache/cssloader-42e8906c3e00.css?0" />
  <script type="text/javascript" src="//web.svobodni.cz/cache/jsloader-eed39b02cf61.js?0"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <link rel="stylesheet" type="text/css" href="//web.svobodni.cz/cache/cssloader-d41d8cd98f00.css?0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <script type="text/javascript" src="//web.svobodni.cz/cache/jsloader-d41d8cd98f00.js?0"></script>
  <script type="text/javascript">
    BASE_URL = "{{ url_for('index', _external=True)}}";
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='ballot_box.js')}}"></script>
  <title>Svobodní | Volební systém</title>
</head>
<body>
  <div class="container header-container">
    <div class="row">
      <div class="col-md-4 col-wb">
        <div class="header-logo"><a href="/"></a></div>
      </div>
      <div class="col-md-8 col-wb">
        <p class="text-right">
          {% if g.user %}
            Přihlášen {{g.user.name}}            
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3"><a class="section" href="{{ url_for('polling_station') }}">Volební místnost</a></div>
      <div class="col-md-3"><a class="section" href="{{ url_for('candidate_signup') }}">Podání kandidatury</a></div>
      {% if g.user and g.user.can_list_ballot() %}
        <div class="col-md-3"><a class="section" href="{{ url_for('ballot_list') }}"><i class="fa fa-lock"></i> Seznam voleb</a></div>
      {% endif %}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <hr>
    <center><i>Interní systém. Provozuje <a href="http://www.svobodni.cz">Strana svobodných občanů</a>.</i></center>
  </div>
</body>
</html>