{% from '_macros.html' import ballot_panel_template %}
{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>Potvrzení podání kandidatury</h3>
    {% call ballot_panel_template(ballot, False) %}
      <dl class="dl-horizontal">
        <dt>Jméno</dt>
        <dd>{{g.user.canonical_name}}</dd>
        <dt>ID</dt>
        <dd>{{g.user.id}}</dd>
      </dl>
      <p>
        <span class="label label-warning">Upozorňení</span> Pro zobrazení fotografie a kontaktů na volebním lístku musíte sdílet alespoň jeden kontakt v registru: <a href="https://registr.svobodni.cz/profiles/contacts" target="_blank">Sdílení kontaktů</a>
      </p>
      <p>
        <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit" class="btn btn-primary pull-right">Potvrdit podání kandidatury</button>
        </form>
      </p>
    {% endcall %}
  </div>
</div>
{% endblock %}