{% from '_macros.html' import ballot_panel_template %}
{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>Potvrzení podání kandidatury</h3>
    {% call ballot_panel_template(ballot, False) %}
      <dl class="dl-horizontal">
        <dt>Jméno</dt>
        <dd>{{g.user.canonical_name}}</dd>
        <dt>ID</dt>
        <dd>{{g.user.id}}</dd>
      </dl>
      <p>
        <span class="label label-warning">Upozornění</span> Pro zobrazení kontaktů na volebním lístku musíte sdílet alespoň jeden kontakt v registru: <a href="https://registr.svobodni.cz/profiles/contacts" target="_blank">Sdílení kontaktů</a>.<br />
        Životopis, Popis a Fotografii změníte v registru v sekci <a href="https://registr.svobodni.cz/profiles/personal" target="_blank">Osobní</a>.<br /><br />
        <span class="label label-warning">Doporučení</span> Doporučujeme před potvrzením kandidatury zkontrolovat funkční odkazy na vaše profily na sociálních sítích, existenci a aktuálnost odkazu na kandidátské vlákno v interním fóru a také svůj Popis.
        V případě nejasností se neváhejte obrátit na <a href="mailto:vk@svobodni.cz">Volební Komisi</a>.<br />
        Toto je váš medailonek sdílený nyní z registru, který se zobrazí ve volební místnosti:
      </p>
      <div class="bo-profile clearfix" data-userid="{{g.user.id or ""}}"></div>
      <p>
        <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit" class="btn btn-primary pull-right">Potvrdit podání kandidatury</button>
        </form>
      </p>
    {% endcall %}
  </div>
</div>
{% endblock %}
