{% from '_macros.html' import ballot_panel_template, ballot_option_details %}
{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>Podání kandidatury</h3>
    <p><span class="label label-info">Info</span> <a href="https://forum.svobodni.cz/index.php/board,13.0.html" target="_blank">Diskuze kandidátů na fóru strany</a></p>
    {% for ballot in ballots %}
      {% call ballot_panel_template(ballot, False) %}
        {% if ballot.options %}
          Přihlášení kandidáti:
        {% else %}
          Kandidaturu zatím nikdo nepodal.
        {% endif %}
        {% for option in ballot.options %}
          <div class="panel panel-default">
            <div class="panel-body">
                {{option.title}}
                {{ballot_option_details(option)}}
            </div>
          </div>
        {% endfor %}
        <p>
          {% if not g.user.can_candidate_signup(ballot) %}
            V této volbě nemůžete kandidovat.
          {% elif ballot.in_time_candidate_signup %}
            <a href="{{url_for('candidate_signup_confirm', ballot_id=ballot.id)}}" class="btn btn-primary">Podat kandidaturu...</a>
          {% else %}
            Kandidaturu již není možné podat.
          {% endif %}
        </p>
      {% endcall %}
    {% else %}
      Nyní nemůžete podat kandidaturu k žádné volbě.
    {% endfor %}
  </div>
</div>
{% endblock %}