{% extends "base.html" %}
{% block body %}
<h3>Vítejte ve volebním systému Svobodných</h3>
<p><a class="btn btn-primary "href="{{url_for('polling_station')}}"><i class="fa fa-arrow-right"></i> Do volební místnosti</a></p>
<p><a href="https://files.svobodni.cz/vk/pro-%C4%8Dleny/Volebni-system-Svobodnych.pdf" target="_blank">O volebním systému</a></p>
<p><a href="https://files.svobodni.cz/vk/pro-%C4%8Dleny/jednaci-rad-volebni-komise.pdf" target="_blank">Jednací řád Volební komise</a></p>
{% endblock %}
