{% from '_macros.html' import ballot_panel_template, ballot_option_details %}
{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>Hlasovat</h3>
    {% call ballot_panel_template(ballot) %}
      <form method="POST" action="{{url_for('polling_station_confirm', ballot_id=ballot.id)}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% for option in ballot.options %}
          <div  class="form-group">
          <label>{{option.title}}</label>
          {{ballot_option_details(option)}}
          <div class="radio">
            <label>
              <input type="radio" class="ballot-option" name="option,{{option.id}}" value="1">
              PRO NÁVRH
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" class="ballot-option" name="option,{{option.id}}" value="-1">
              PROTI NÁVRHU
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" class="ballot-option" name="option,{{option.id}}" value="" checked>
              nehlasovat
            </label>
          </div>
          </div>
        {% endfor %}
        <p class="text-muted" id="remaining-votes-count"></p>
        <button id="btn-continue" type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Pokračovat k potvrzení</button>
      </form>
    {% endcall %}
  </div>
</div>
{% endblock %}