{% from '_macros.html' import ballot_panel_template, ballot_option_details %}
{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
  var maxVotes = {{ballot.max_votes}};
  function updateRemainingVotesCount() {
    var current = $(".ballot-option:checked").length;
    var remaining = maxVotes-current;
    var text = "Již jste udělil/a všechny hlasy.";
    var ok = true;
    if(remaining > 0) {
      text = "Zbývá udělit nejvýše "+remaining+" hlasů.";
    } else if (remaining < 0) {
      text = "Udělil/a jste příliš mnoho hlasů.";
      ok = false;
    }
    if(current == 0) {
      text += " Musíte udělit nejméně jeden hlas."
      if(maxVotes == 1) {
        text = "Udělte prosím jeden hlas."
      }
      ok = false;
    }
    $("#remaining-votes-count").text(text);
    if(ok) {
      $("#btn-continue").prop("disabled","")
    } else {
      $("#btn-continue").prop("disabled","disabled")
    }
  }
  $(document).ready(function() {
    updateRemainingVotesCount();
    $(".ballot-option").change(updateRemainingVotesCount);
  });
</script>
<div class="row">
  <div class="col-md-12">
    <h3>Hlasovat</h3>
    {% call ballot_panel_template(ballot) %}
      <form method="POST" action="{{url_for('polling_station_confirm', ballot_id=ballot.id)}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% for option in ballot.options %}
          <div class="checkbox">
            <label>
              <input type="checkbox" class="ballot-option" name="option,{{option.id}}" value="1">
              {{option.title}}
              {{ballot_option_details(option)}}
            </label>
          </div>
        {% endfor %}
        <p class="text-muted" id="remaining-votes-count"></p>
        <button id="btn-continue" type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Pokračovat k potvrzení</button>
      </form>
    {% endcall %}
  </div>
</div>
{% endblock %}