{% from '_macros.html' import ballot_details %}
{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>Váš hlas byl úspěšně započítán</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ballot.name}}</h3>
      </div>
      <div class="panel-body">
        <p>{% if really_send %}Následující potvrzení o hlasování bylo odesláno na Vaši e-mailovou adresu. 
          Pro případ, že e-mail nedorazí, si jej prosím ihned uložte nebo vytiskněte.{% else %}
          Zvolili jste, že nechcete odeslat potvrzení volby e-mailem.
          Proto si prosím ihned uložte následující potvrzení.{% endif %}</p>
        <p>
          <pre>{{email_body}}</pre>
        </p>
      </div>
    </div>
    <p><a class="btn btn-primary "href="{{url_for('polling_station')}}"><i class="fa fa-arrow-left"></i> Zpět do volební místnosti</a></p>
  </div>
</div>
{% endblock %}