{% from '_macros.html' import ballot_panel_template %}
{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>Potvrdit hlas</h3>
    {% call ballot_panel_template(ballot) %}
      <form method="POST" action="{{url_for('polling_station_vote', ballot_id=ballot.id)}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="input_options_data" value="{{ input_options_data }}" />
        <div class="form-group">
          <label>Zvolené možnosti</label>
          <ul>
            {% for option in options_summary %}
              <li>{{option["title"]}} - {% if option["value"] == 1 %}PRO NÁVRH{% else %}PROTI NÁVRHU{% endif %}</li>
            {% endfor %}  
          </ul>  
        </div>
        <div class="form-group">
          <label for="hash_base">Základ kontrolního řetězce</label>
          <input id="hash_base" class="form-control" type="text" name="hash_base" value="{{ hash_base }}" />
          <p class="help-block">Můžete libovolně změnit</p>
        </div>
        <button id="btn-continue" type="submit" class="btn btn-primary pull-right"><i class="fa fa-check"></i> Potvrdit hlasování</button>
      </form>
    {% endcall %}
  </div>
</div>
{% endblock %}