{% from '_macros.html' import ballot_panel %}
{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>Volební místnost</h3>
    <h4>Nové</h4>
    {% for ballot in ballot_groups["not_voted"] %}
      {{ballot_panel(ballot)}}
    {% else %}
      Nyní neprobíhá žádná volba ani hlasování, kterého se máte právo účastnit.
    {% endfor %}
    <h4>Hlasováno</h4>
    {% for ballot in ballot_groups["already_voted"] %}
      {{ballot_panel(ballot)}}
    {% else %}
      Nyní neprobíhá žádná volba ani hlasování, kterého jste se již účastnil/a.
    {% endfor %}
    <h4>Ukončeno</h4>
    {% for ballot in ballot_groups["finished"] %}
      {{ballot_panel(ballot)}}
    {% else %}
      Žádná ukončená volba ani hlasování v posledních 60 dnech.
    {% endfor %}
    {% if ballot_groups["other"] %}
      <h4>Ostatní</h4>
      {% for ballot in ballot_groups["other"] %}
        {{ballot_panel(ballot)}}
      {% endfor %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}