{% from '_macros.html' import ballot_panel_template, ballot_option_details %}
{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
  var maxVotes = {{ballot.max_votes}};
  function updateRemainingVotesCount() {
    var current = $(".ballot-option:checked").length;
    var remaining = maxVotes-current;
    var text = "Již jste udělil/a všechny hlasy.";
    var ok = true;
    if(remaining > 0) {
      text = "Zbývá udělit nejvýše "+remaining+" hlasů.";
    } else if (remaining < 0) {
      text = "Udělil/a jste příliš mnoho hlasů.";
      ok = false;
    }
    if(current == 0) {
      text += " Musíte udělit nejméně jeden hlas."
      if(maxVotes == 1) {
        text = "Udělte prosím jeden hlas."
      }
      ok = false;
    }
    $("#remaining-votes-count").text(text);
    if(ok) {
      $("#btn-continue").prop("disabled","")
    } else {
      $("#btn-continue").prop("disabled","disabled")
    }
  }
  $(document).ready(function() {
    updateRemainingVotesCount();
    $(".ballot-option").change(updateRemainingVotesCount);
  });
</script>
<div class="row">
  <div class="col-md-12">
    <h3>Hlasovat</h3>
    {% if ballot.type.code == "ELECTION" %}
      <p><span class="label label-info">Info</span> <a href="https://forum.svobodni.cz/index.php/board,13.0.html" target="_blank">Diskuze kandidátů na fóru strany</a></p>
    {% endif %}
    {% call ballot_panel_template(ballot) %}
      <form method="POST" action="{{url_for('polling_station_confirm', ballot_id=ballot.id)}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% for option in ballot.options %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  {% if ballot.in_progress and not g.user.already_voted(ballot) %}<input type="checkbox" class="ballot-option" name="option,{{option.id}}" value="1">{% endif %}
                  <strong>{{option.title}}</strong>
                </label>
                {{ballot_option_details(option)}}
              </div>
            </div>
          </div>
        {% endfor %}
        {% if ballot.in_progress %}
          {% if g.user.already_voted(ballot) %}
          Již jste hlasoval/a.
          {% else %}
          <p class="text-muted" id="remaining-votes-count"></p>
          <button id="btn-continue" type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Pokračovat k potvrzení</button>
          {% endif %}
        {% else %}
          Tato volba nyní neprobíhá.
        {% endif %}
      </form>
    {% endcall %}
  </div>
</div>
{% endblock %}