<p>Strana svobodných občanů</p>
<p>Volební komise</p>
<h1>Protokol o elektronické volbě</h1>
<p>{{name}}, {{date|fmt_d}}</p>
<dl class="dl-horizontal">
  <dt>Název</dt>
  <dd>{{ballot.name}}</dd>
  <dt>Vyhlásil</dt>
  <dd>DOPLNIT</dd>
  <dt>Druh</dt>
  <dd>{{ballot.type}}, {{ballot.method}}</dd>
  <dt>
  {%- if ballot.is_election %}
    Volených míst
  {% else %}
    Počet hlasování
  {%- endif %}
  </dt>
  <dd>{{ballot.max_votes}}</dd>
  <dt>Voliči</dt>
  <dd>{{ballot.unit}} {% if ballot.supporters_too %}členové i příznivci{% else %}členové{% endif %}</dd>
  <dt>Termín</dt>
  <dd>{{ballot.begin_at|fmt_dt}} až {{ballot.finish_at|fmt_dt}}</dd>
</dl>
<h2>Výsledek {%if ballot.is_election %}volby{% else %}hlasování{% endif %}</h2>
<dl class="dl-horizontal">
  <dt>Zúčastněných</dt>
  <dd>{{ballot.voters.count()}}</dd>
</dl>
{%- if ballot.is_yes_no %}
  <table class="table">
    <thead>
      <tr><th>{%if ballot.is_election %}Kandidát{% else %}Návrh{% endif %}</th><th>PRO NÁVRH</th><th>PROTI NÁVRHU</th></tr>
    </thead>
    <tbody>
      {%- for option in result %}
        <tr>
          <td>{% if option["elected"] %}<strong>{% endif %}{{option["title"]}}{% if option["elected"] %}</strong>{% endif %}</td>
          <td>{{option["votes"][1]|length}}</td>
          <td>{{option["votes"][-1]|length}}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{%- else %}
  <table class="table">
    <thead>
      <tr><th>Kandidát</th><th>Hlasy</th></tr>
    </thead>
    <tbody>
      {%- for option in result %}
        <tr>
          <td>{% if option["elected"] %}<strong>{% endif %}{{option["title"]}}{% if option["elected"] %}</strong>{% endif %}</td>
          <td>{{option["votes"][1]|length}}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{%- endif %}
<h2>Závěr</h2>
<p>Během {%if ballot.is_election %}voleb{% else %}hlasování{% endif %} ani 12&nbsp;hodin po&nbsp;jejich ukončení se na&nbsp;volební komisi neobrátil nikdo, kdo by zpochybnil správnost průběhu a&nbsp;důvěryhodnost výsledku.
<p>{%if ballot.is_election %}Volby proběhly{% else %}Hlasování proběhlo{% endif %} řádně a&nbsp;nebyly shledány žádné okolnosti, které by zpochybnily jejich průběh a&nbsp;důvěryhodnost.</p>
<p>
  {% if elected|length <= 1 %}Byl {%if ballot.is_election %}zvolen{% else %}schválen{% endif %} {% else %}Byli zvoleni: {% endif %}{% for option in elected %}<strong>{{option["title"]}}</strong>{% if not loop.last %}{% if loop.revindex0 == 1 %} a&nbsp;{% else %}, {% endif %}{% endif %}{% endfor %}.
</p>
{%- if not ballot.is_yes_no and elected|length < ballot.max_votes %}
<p>
  Vzhledem ke shodě počtu hlasů na posledním voleném místě bude následovat užší volba.  
</p>
{%- endif %}
