.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.monospace {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.panel>hr {
    margin-top: 0;
    margin-bottom: 0;
}

.panel-inactive {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

textarea#description {
    font-family: monospace;
}

.panel-body.protocol {
    padding: 10ex 6em 11ex;
}

.protocol dt {
    width: 150px;
}

.protocol dd {
    margin-left: 165px;
}
